<!--The whole content below can be removed with the new code.-->
<!--<link rel="stylesheet" type="text/css" href="YOUR_PATH/font-awesome.min.css" />-->
<!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
<!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->


<form>
  <div style="text-align:center">
    <h1>
      {{title}}!!
    </h1>

  </div>
  <div>
    <span>Test</span>
    <button pButton type="button" class="ui-button-danger ui-button" (click)="getTest()" label="TEST"></button>

  </div>
  <ul>
    <li *ngFor="let adres of adresy">
      id: {{adres.idAdres}}, miasto: {{adres.miasto}}
    </li>
  </ul>
  <br>
  <br>


  <div class="row" style="scroll-snap-margin-right:100px">
    <div class="col-lg-6">
      <p-dataTable [value]="adresy">
        <p-header>
          <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
          </div>
        </p-header>
        <p-column [sortable]="true" field="idAdres" header="Id miasta"></p-column>
        <p-column [sortable]="true" field="miasto" header="Nazwa miasta" [editable]="true"></p-column>
      </p-dataTable>
    </div>
  </div>
</form>


